{% extends "base.njk" %}

{% block content %}
<section class="container">
    <h2>Day 1</h2>
    <ul>
        <li><a href="/climate-justice.html">Climate Justice</a></li>
        <li><a href="/sustainability-at-cuny.html">Sustainability at CUNY</a></li>
        <li><a href="/nyc-climate-action.html">NYC Climate Action</a></li>
        <li><a href="/environmental-nonprofits-and-ngos.html">Environmental Nonprofits and NGOs</a></li>
    </ul>
    <h2>Day 2</h2>
    <ul>
        <li><a href="/climate-entrepreneurship.html">Climate Entrepreneurship</a></li>
        <li><a href="/climate-finance.html">Climate Finance</a></li>
        <!-- <li><a href="/corporate-social-responsibility.html">Corporate Social Responsibility</a></li>
        <li><a href="/climate-in-international-affairs.html">Climate in International Affairs</a></li>
        <li><a href="/innovative-fundraising-in-conservation.html">Innovative Fundraising in Conservation</a></li> -->
    </ul>
</section>
{% endblock %}