{% extends "base.njk" %}

{% block content %}
<ul>
    <li><a href="/climate-justice.html">Climate Justice</a></li>
    <li><a href="/sustainability-at-cuny.html">Sustainability at CUNY</a></li>
    <li><a href="/nyc-climate-action.html">NYC Climate Action</a></li>
    <li><a href="/environmental-nonprofits-and-ngos.html">Environmental Nonprofits and NGOs</a></li>

</ul>
{% endblock %}